.logo-container-large {
    display: flex;
    flex-direction: row;
}

.interrupted-line {
    display: flex;
    align-items: center;
}

.line {
    flex-grow: 1;
    border: none;
    border-top: 2px solid #000; /* Adjust color and size as needed */
    margin: 0 10px;
}

.interrupted-line h2 {
    margin: 0;
}

.download-link {
    text-decoration: none; /* Remove underline for the link */
    color: #000; /* Adjust color as needed */
}
