h2 {
    text-align: left;
    margin: 10px;
} 

.resume-text-container {
    display: flex;
    flex-direction: column;
    text-align: left;

    align-content: center;
    width: 100%;

}

#download-resume-button {
    margin: 20px;
    width: 15vw;
    height: 5vh;
    border-radius: 40px;
}


.p-right {
    align-self: left;
    text-align: left;
}

i {
    font-size: x-large;
}

#tamu-logo {
    width: 5vw;
    height: 5vw;
}

#midway-logo{
    width: 6vw;
    height: 6vw;

}

.flex-row-div {
    display: flex;
    flex-direction: row;
    padding-inline: 20px;
    padding-block: 20px;
    justify-content: center;
}

#download-transcript-button {
    margin: 20px;
    width: 15vw;
    height: 5vh;
    border-radius: 40px;
}