.background-container {
    height: 100%;
    width: 100%;
    z-index: -1;
    align-items: center; 
    justify-content: center;
    overflow-x: hidden;
}                                    

.rect {
    height: 10%;
    width: 80%;
    border-radius: 10px;
}



