* {
  font-family: 'Quicksand', 'sans-serif';
}

.light-blue {
  background-color: #169086;
}

.dark-blue {
  background-color:	#0d494d;
}

.turquise {
  background-color:	#0d494d;
}

.light-brown {
  background-color: #ffeac0;
}

.grey {
  background-color: #e8e8e8;
}

.transparent {
  opacity: .6;
}

.abt-color {
  background-color: #16679099;
}

.proj-color {
  background-color: #69858799;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  border-radius: 30px;
  padding: 70px;
  width: 65vw;
  margin: 5px;
  align-items: center;
  align-content: center;
  margin-bottom: 100px;
}

.foreground-container h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.section-title {
  margin-top: 10px;
  text-decoration: underline;
  text-align: left;
  align-content: left;
  align-self: left;
}

.icon-container-small {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #0c2d35;
}

.small-icon {
  font-size: xx-large;
  padding: 10px;
}

.headshot-container {
  width: 20vw; 
  height: 20vw;
  border-radius: 50%;
  overflow: hidden;
}

.headshot {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p{
  font-size: 1.3rem;
  text-align: center;
  padding: 20px;
}

