* {
  font-family: 'Quicksand', 'sans-serif';
}

.timberwolf {
  background-color: #D8CCC2ff;
}

.wenge {
  background-color:	#584F4Fff;
}

.silver {
  background-color: #B6AEA8ff;
}

.copper {
  background-color: #B47B4Eff;
}

.night {
  background-color: #0C0A0Bff;
}

/*

copper: #B47B4Eff;
silver: #B6AEA8ff;
night: #0C0A0Bff;
wenge: #584F4Fff;
timberwolf: #D8CCC2ff;

*/


.transparent {
  opacity: .8;
}

.abt-color {
  background-color: #16679099;
}

.proj-color {
  background-color: #69858799;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  border-radius: 30px;
  padding: 70px;
  width: 65vw;
  margin: 5px;
  align-items: center;
  align-content: center;
  margin-bottom: 100px;
}

.foreground-container h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.section-title {
  margin-top: 10px;
  text-decoration: underline;
  text-align: left;
  align-content: left;
  align-self: left;
}

.icon-container-small {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #0c2d35;
}

.small-icon {
  font-size: xx-large;
  padding: 10px;
}

.headshot-container {
  width: 20vw; 
  height: 20vw;
  border-radius: 50%;
  overflow: hidden;
}

.headshot {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p{
  font-size: 1.3rem;
  text-align: center;
  padding: 20px;
}


